dataset:
  root_dir: "/home/aswath/Projects/capstone/multimodel_lipread/data/GLips_4"
  cue_root: "/home/aswath/Projects/capstone/multimodel_lipread/data/GLips_4"
  lip_regions_root: "/home/aswath/Projects/capstone/multimodel_lipread/data/GLips_4_lip_regions"
  cache_dir: "/home/aswath/Projects/capstone/multimodel_lipread/audio_cues_video/.cache_cues"
  embed_model: "sentence-transformers/all-mpnet-base-v2"
  input_size: 117
  split: "train"
  cue_mode: "emotion"
  num_classes: 4

train:
  batch: 4
  lr: 0.00001
  epochs: 1
  workers: 4
  model_name: "multimodal_three_mid"
  metrics_dir: "/home/aswath/Projects/capstone/multimodel_lipread/audio_cues_video/metrics"
  save_dir: "/home/aswath/Projects/capstone/multimodel_lipread/audio_cues_video/models_trained"  

# video_model_config:
#   model:
#     feature_dim: 256
#     dropout: 0.3